/* Generales */
*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}
span{
    color: #FDCE62;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link,
.navbar-brand{
    color: white;
    padding: 30px;
}

.logo_mod{
    height: 100px;
    width: 100px;
}

.nav__mod{
    background-color: #000;
}

.navbar-nav,
.ms-auto {
    align-items: center;
    text-align: center;
}


/* Banner/Slogan */
.slogan{
    position: relative;
    bottom: 550px; right: 225px;
    color: white;
}

.container-banner{
    background-color: #000;
}

.q__mod{
    margin-top: 40px;
    position: relative;
    bottom: 90px;
}

.icons__anim {
    transition: 300ms; 
}
  
.icons__anim:hover {
    transform: translateY(-15px); 
}


/* Body */
.img-sl{
    margin-top: 200px;
    margin-left: 50px;
}

.img-shadow{
    box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
    -webkit-box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
    -moz-box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
}

.img__text{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wh_mod{
    margin-top: 180px;
    margin-bottom: 80px;
    text-align: center;
}

.calcSeg{
    margin-top: 100px;
}

.calcName{
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 20px;
}

.calcP{
    margin-bottom: 75px;
    font-style: italic;
}

.inputCalt__mod{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%);
    text-decoration: none;
    margin-top: px;
}

.btn-grad {
   margin-top: 75px;
   padding: 15px 45px 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.8s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
}

.datosIngresados{
    margin-top: 50px;
}
