/* Generales */
*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}
span{
    color: #FDCE62;
}


/* Navbar */
.navbar-dark .navbar-nav .nav-link,
.navbar-brand{
    color: white;
    padding: 30px;
}

.logo_mod{
    height: 100px;
    width: 100px;
}

.nav__mod{
    background-color: #000;
}

.navbar-nav,
.ms-auto {
    align-items: center;
    text-align: center;
}


/* Banner/Slogan */
.slogan{
    position: relative;
    bottom: 550px; right: 225px;
    color: white;
}

.container-banner{
    background-color: #000;
}

.q__mod{
    margin-top: 40px;
    position: relative;
    bottom: 90px;
}

.icons__anim {
    transition: 300ms; 
}
  
.icons__anim:hover {
    transform: translateY(-15px); 
}


/* Main */
.img-sl{
    margin-top: 200px;
    margin-left: 50px;
}

.img-shadow{
    box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
    -webkit-box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
    -moz-box-shadow: 13px 13px 9px -6px rgba(34,28,28,0.6);
}

.img__text{
    font-size: 46px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.wh_mod{
    margin-top: 180px;
    margin-bottom: 80px;
    text-align: center;
}

.calcSeg{
    margin-top: 100px;
}

.calcName{
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 20px;
}

.calcP{
    margin-bottom: 75px;
    font-style: italic;
}

.inputCalt__mod{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03  51%, #FFB75E  100%);
    text-decoration: none;
    margin-top: px;
}

.btn-grad {
   margin: 80px 0px 70px 0px;
   padding: 15px 45px 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.8s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: 0;
}

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
}

.datosIngresados{
    margin-top: 75px;
    font-size: 20px;
}

.resultadoForm{
    margin-top: 10px;
}

.totalFont{
    font-size: 1.3rem;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgValores{
    width: 425px;
}

.textValores{
    font-size: 18px;
}

.valoresMargin{
    margin-top: 160px;
}
#last-of-type{
    margin-bottom: 150px;
}
/* Footer */
.footerCopy{
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 17px;
}

.btnFooter{
    border-radius: 40px;
}


/* Divider */
.wrapper{
  padding-bottom: 90px;
}

.divider{
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48,49,51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white,
          0 0 0 4px white;
}


/* Cards */
.card{
    margin: 10px;
}
.card-header{
    font-size: 22px;
}
.card-text{
    font-size: 18px;
}
.btn-card{
    border-radius: 15px;
    font-weight: bold;
    margin-top: 35px;
    width: 100%;
    padding: 15px;
}
.card-plan{
    text-align: left;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
    font-size: 15px;
}
.card-li{
    font-size: 14.6px;
    text-align: left;
}
.cards-margin{
    margin: 60px 150px 20px 150px;
}
.card-safest{
    padding-bottom: 100px;
}
#headerFull{
    background-color: #ffc107;
}